.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Main Styles */
.quote {
  min-height: 200px;
  font-size: clamp(0.5rem, 0.5rem + 2vw, 1rem);
  line-height: 1.5;
  padding: 5em;
  padding-top: 3.90625em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 1em;
  isolation: isolate;
  border-radius: 0.5rem;
  border: 1px solid;
}
.quote-label,
.deblur-quote-label {
  margin: 0px;
}
.deblur-quote-label,
.deblur-visible {
  display: none;
}

/* Quote Body Styles */
.quote > * {
  width: 100%;
}
.quote > .quote-body {
  font-size: 1.3em;
  margin: 0;
}

/* Tooltip Styles */
.tooltip {
  white-space: nowrap;
  padding: 0.15rem 0.25rem;
  margin: -0.15rem -0.25rem;
  background-color: #b91c1c;
  background-color: #fee2e2;
  color: #7f1d1d;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  border-radius: 0.25rem;
}
.tooltip:is(:hover, :focus, :focus-within) {
  color: #fff;
  background-color: #7f1d1d;
}
.tooltip:is(:hover, :focus, :focus-within) > .quote-body {
  visibility: visible;
  opacity: 1;
}
.tooltip > .quote-body {
  white-space: normal;
  width: min(40vw, 400px);
  visibility: hidden;
  opacity: 0;
  font-size: 0.7em;
  position: absolute;

  transition: all 0.2s ease-out;
  z-index: 2;
}

.tooltip > .quote-body .container {
  display: block;
  max-height: 50vh;
  overflow: auto;
}
.tooltip > .quote-body .container > * {
  display: block;
  padding: 0.5em 1em;
}

.tooltip > .quote-body .text {
  color: #fff;
  background-color: #000;
  padding: 0.75em 1em;
  border-radius: 0.5rem;
}

button.blur-button {
  display: inline-block;
  margin-right: 0px;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
}

button.blur-button:hover {
  opacity: 0.9;
}

p.blur-visible {
  display: none;
}

p.instructions {
  color: #7f1d1d;
  display: none;
  font-size: 1rem;
  margin: 0.55rem 0;
}

.bounce {
  position: absolute;
  animation: bounce 3s infinite;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(0px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.deblur-quote-label {
  margin-top: 2rem;
}

.deblur-visible .tooltip {
  color: #064e3b;
  background-color: #d1fae5;
  pointer-events: none;
}

.deblur-visible .tooltip.start {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.deblur-visible .tooltip.middle {
  border-radius: 0px;
}

.deblur-visible .tooltip.end {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Media Queries */
@media (hover: none) and (pointer: coarse) {
  .tooltip > .quote-body::before {
    content: "Click/tap anywhere outside to disappear";
    font-size: 0.5em;
    line-height: 1;
    text-align: center;
    display: block;
    padding: 1em;
  }
}
@media (min-width: 400px) {
  .tooltip {
    position: relative;
  }
  .tooltip > .quote-body {
    top: calc(100% + 0.5rem);
    left: calc(50% + min(50vw, 300px) / -2);
    width: min(50vw, 300px);
    transform: unset;
    max-height: 200px;
  }
  .tooltip > .quote-body::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 0.5em solid #000;
    border-right: 0.5em solid transparent;
    border-bottom: none;
    border-left: 0.5em solid transparent;
    position: absolute;
    top: -6px;
    right: initial;
    left: 50%;
    transform: rotate(180deg);
  }
  .tooltip > .quote-body > .container {
    max-height: 350px;
    font-size: 0.9rem;
  }
  .tooltip:is(:hover, :focus, :focus-within) > .quote-body {
    bottom: calc(100% + 0.75em);
  }
}
