.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Main Styles */
.quote {
  position: relative;
  border-radius: 0.5rem;
  min-height: 200px;
  background-color: #007aec;
  color: #fff;
  font-size: clamp(0.5rem, 0.5rem + 2vw, 1rem);
  line-height: 1.5;
  padding: 5em;
  padding-top: 3.90625em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 1em;
  isolation: isolate;
}
.quote::before {
  content: "\201C";
  font-size: 15.625em;
  color: #1a90ff;
  position: absolute;
  z-index: -1;
  top: 33%;
  left: 2.5%;
}

/* Quote Body Styles */
.quote > * {
  width: 100%;
}
.quote > .quote-body {
  font-size: 1.5em;
  margin: 0;
}

/* Tooltip Styles */
.tooltip {
  white-space: nowrap;
  padding: 0.15em 0.15em;
  margin: -0.15em -0.15em;
  background-color: #00529f;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  border-radius: 5px;
}
.tooltip:is(:hover, :focus, :focus-within) {
  background-color: #00305d;
}
.tooltip:is(:hover, :focus, :focus-within) > .quote-body {
  visibility: visible;
  opacity: 1;
}
.tooltip > .quote-body {
  white-space: normal;
  width: min(80vw, 300px);
  visibility: hidden;
  opacity: 0;
  font-size: 0.6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-20%, -20%);
  transition: all 0.2s ease-out;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
.tooltip > .quote-body .container {
  display: block;
  max-height: 50vh;
  overflow: auto;
}
.tooltip > .quote-body .container > * {
  display: block;
  padding: 0.5em 1em;
}

.tooltip > .quote-body .text {
  color: #fff;
  background-color: #00305d;
  padding: 0.75em 1em;
  border-radius: 5px;
}

button#blur-button {
  display: inline-block;
  margin-right: 0px;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #fff;
  font-family: Larsseit, sans-serif;
  color: #00529f;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
}

button#blur-button:hover {
  opacity: 0.9;
}

p#blur-visible {
  display: none;
}

p#instructions {
  display: none;
  font-size: 1rem;
  margin: 0.55rem 0;
}

/* Media Queries */
@media (hover: none) and (pointer: coarse) {
  .tooltip > .quote-body::before {
    content: "Click/tap anywere outside to disappear";
    font-size: 0.5em;
    line-height: 1;
    text-align: center;
    display: block;
    padding: 1em;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 400px) {
  .frame {
    width: 400px;
    height: 400px;
    margin-left: -200px;
  }

  .tooltip {
    position: relative;
  }
  .tooltip > .quote-body {
    top: initial;
    bottom: calc(100% + 2em);
    left: calc(50% + min(90vw, 300px) / -2);
    transform: unset;
    max-height: 200px;
  }
  .tooltip > .quote-body::after {
    content: " ";
    width: 0;
    height: 0;
    border-top: 0.5em solid #00305d;
    border-right: 0.5em solid transparent;
    border-bottom: none;
    border-left: 0.5em solid transparent;
    position: absolute;
    top: initial;
    right: initial;
    left: 50%;
    transform: translateX(-50%);
  }
  .tooltip > .quote-body > .container {
    max-height: 200px;
  }
  .tooltip:is(:hover, :focus, :focus-within) > .quote-body {
    bottom: calc(100% + 0.75em);
  }
}
